{% extends "base.html" %}

{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block body %}

<main class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/signin/" method="POST" class="card card-body"> 
                <h1 class="text-center">SignIn</h1>
                
                {% csrf_token %}
                {{ error }}
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" 
                    class="form-control" placeholder="Nombre de usuario">    
                </div>

                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" 
                    class="form-control" placeholder="Escribe tu contraseña">    
                </div>
                <button class="btn btn-secondary">
                    SignIn
                </button>
                <a class="btn btn-dark mt-2" href="/" method="GET">Regresar al Home</a>
            </form>
            
        </div>
    </div>

</main> 

<!-- 
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" 
                    class="form-control" placeholder="Nombre de usuario">    
                </div>

                <div class="mb-3">
                    <label for="password1">Contraseña:</label>
                    <input type="password" name="password1" id="password1" 
                    class="form-control" placeholder="Escribe tu contraseña">    
                </div>

                <p>

                </p>
                <button class="btn btn-secondary">
                    Autenticar
                </button>

                <a class="btn btn-dark mt-2" href="/" method="GET">Regresar</a>
            </form>

        </div>
    </div>

</main> -->




{% endblock %}

