{% extends 'base.html' %}

{% block title %}Task Detail{% endblock %}

{% block head %}{% endblock %}

{% block body %}


<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <h1 class="text-secondary text-center">{{ task.title }}</h1>
                {{ error }}
                <p>{{ task.description }}</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-secondary">Actualizar</button>
                </form>
                <div class="d-flex mt-3">
                    <form action="{% url 'complete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-dark">Completado</button>
                    </form>
                    <form action="{% url 'delete_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">ELIMINAR</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}