{% extends 'base.html' %}

{% block title %}Task Complete Detail{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-body">
                <h1 class="text-secondary text-center">{{ task.title }}</h1>
                {{ error }}
                <p>{{ task.description }}</p>
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-danger">ELIMINAR</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}