{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block head %}{% endblock %}

{% block body %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {{ error }}
            <h1 class="text-center display-3 py-5">TASKS PENDING</h1>
                <ul class="list-group">
                    {% for task in tasks %}
                    <a href="{{ task.id }}" class="list-group-item">
                        <header class="d-flex justify-content-between">
                            {% if task.important %}
                            <strong class="text-success">{{ task.title }}</strong>
                            {% else %}
                            <strong>{{ task.title }}</strong>

                            {% endif %}
                            <p>{{ task.user.username }}</p>
                        </header>
                        <p>{{ task.description }}</p>
                        <p>{{ task.date_completed|date:'M j Y:i' }}</p>
            
                    </a>
                
                    {% endfor %}
                </ul>
        </div>
    </div>
    
</main>
{% endblock %}